* {
    box-sizing: border-box;
}

body {
    max-width: 700px;
    margin: auto;
}

main {
    display: grid;
    grid-template-areas: 
    "h"
    "n"
    "a"
    "f";
}

article {
    margin-top: 20px;
    grid-area: a;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: a;
}

article img{
width: 100%;

}

section {
    border: solid 2px rgb(69, 125, 247);
    border-radius: 5px;

}
header{
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: rgb(0, 174, 255);
    border-radius: 15px;
    padding: 10px;
    border: 3px solid blue;
}

header h1 {
    text-align: center;
    color: white;
}

nav {
    text-decoration: none;
    background-color: blue;
    font-size: 15px;
    border-radius: 15px;
    padding: 20px;
    border: 5px solid blue ;
    word-spacing: 22px;
    margin: 10px;
    grid-area: n;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}


footer {
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: rgb(0, 174, 255);
    border-radius: 15px;
    padding: 10px;
    border: 3px solid blue;
    margin: 10px;
}

a:hover {
    background-color: rgb(0, 174, 255);
}

@media screen and (max-width:720px) {
    body {
        max-width: 500px;
    }
    article {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (max-width:520px) {
    body {
        max-width: 300px;
    }
    article {
        display: grid;
        grid-template-columns: 1fr ;
    }
}

@media screen and (max-width:320px) {
    body {
        max-width: 200px;
    }
    article {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:200px) {
    body {
        display: none;
    }
}